.root{
    -fx-background-image: url("blocks.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.actionbuttons{
    -fx-background-color: blue;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-border-width: 1;
}

.label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.info{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

.labelnick{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

.nbigmark{
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

.nsmallmark{
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 5;
}

.mess{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 10;
    -fx-font-weight: bold;

}

.winLabel{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 50;
    -fx-font-weight: bolder;

}

.plLabel{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;

}