.root{
    -fx-background-image: url("blocks.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-background-color: blue;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-border-width: 1;
}