.root{
    -fx-background-image: url("blocks.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-font-weight: bolder;
    -fx-font-size: 20;
    -fx-background-color: green;
}

.radio-button{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 15;
}