.root{
    -fx-background-image: url("blocks.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: repeat-x;
}

.text-area .content{
    -fx-background-color: #191056;
}

.scroll-pane{
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 20;
}

.text-input {
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #191056;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.refr{
    -fx-font-size: 10;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: green;
}

.ply{
    -fx-font-size: 17;
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

.welcome{
    -fx-font-size: 30;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.toopl{
    -fx-font-weight: bolder;
    -fx-text-fill: white;
    -fx-font-size: 30;
}