.root{
    -fx-background-image: url("blocks.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: black;
    -fx-border-width: 5 ;
}

.label{
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 20;
}

.button{
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-font-weight: bolder;
    -fx-font-size: 20;
    -fx-border-color: red;

}

.refr{
    -fx-font-size: 10;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: green;
}

.ply{
    -fx-font-size: 17;
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

.welcome{
    -fx-font-size: 30;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.toopl{
    -fx-font-weight: bolder;
    -fx-text-fill: white;
    -fx-font-size: 30;
}