.root{
    -fx-background-image: url("clessidra.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: black;
    -fx-border-width: 10 ;
}

.label{
    -fx-text-fill: black;
    -fx-font-weight: bolder;
    -fx-font-size: 20;
}

.button{
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-font-weight: bolder;
    -fx-font-size: 10;
    -fx-border-color: red;

}

.refr{
    -fx-font-size: 10;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: green;
}

.ply{
    -fx-font-size: 15;
    -fx-border-color: white;
    -fx-font-weight: normal;
    -fx-text-fill: black;
}