<configuration>
	<!--SERVER NETWORK CONFIGURATION-->
	<rmiServerName>ADRENALINE_SERVER</rmiServerName>
	<rmiServerPort>12346</rmiServerPort>
	<socketServerPort>12345</socketServerPort>
	<!--SERVER CONTROLLER CONFIGURATION-->
	<minPlayerNumber>2</minPlayerNumber>
	<maxPlayerNumber>3</maxPlayerNumber>
	<waitingRoomTimer>30</waitingRoomTimer>
	<keepAliveFrequency>8</keepAliveFrequency>
	<keepAliveTimer>4</keepAliveTimer>
	<turnTimer>120</turnTimer>
	<quickMoveTimer>15</quickMoveTimer>
</configuration>