<config>
	<!-- NETWORK CONFIGURATION -->
	<rmiServerName>ADRENALINE_SERVER</rmiServerName>
	<rmiServerPort>12346</rmiServerPort>
	<socketServerPort>12345</socketServerPort>
	<!-- GAME CONFIGURATION -->
	<minPlayerNumber>2</minPlayerNumber>
	<maxPlayerNumber>3</maxPlayerNumber>
	<waitingRoomTimer>20</waitingRoomTimer>
	<skullNumber>2</skullNumber>
	<keepAliveFrequency>8</keepAliveFrequency>
	<keepAliveTimer>4</keepAliveTimer>
	<turnTimer>180</turnTimer>
	<quickMoveTimer>30</quickMoveTimer>
</config>